$module: '.door';

#{$module} {

  display: inline-block;
  margin: 30px;

  &__frame {
    background-color: #5f5f5f;
    position: relative;
    width: 100px;
    height: 120px;
    margin: 0 auto;
    border-radius: 0 5px 5px 0;
    box-shadow: 1px 1px 0px 0px #553925;

    &--active {
      &:hover {
        box-shadow: 1px 1px 20px 4px rgb(88, 198, 45);;
      }
    }

    &__door {
      background-color: #87b5c7;
      border-radius: 0 5px 5px 0;
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100px;
      height: 120px;
      display: flex;
      justify-content: flex-end;
      transform-origin: left;
      transition: all 0.5s ease-in-out;

      &:hover {
        cursor: pointer;
      }

      &--open {
        transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px) rotateY(-105deg);
      }

      &__handle {
        width: 10px;
        height: 10px;
        border-radius: 25px;
        background-color: #b97d3a;
        margin: auto 7px auto auto;
        box-shadow: 1px 1px 0px 0px #2b0b0b;
      }

      &__hinge {
        width: 5px;
        background: #afafaf;
        height: 20px;
        position: absolute;
        box-shadow: 1px 1px 1px 0px #484747;
        left: -1px;

        &.top {
          top: 20px;
        }

        &.bottom {
          bottom: 20px;
        }

      }

      &__number {
        position: absolute;
        width: 100%;
        text-align: center;

        p {
          font-size: 30px;
          color: #c31f12;
        }
      }

    }
  }

}