@import 'door.scss';
@import 'calendar.scss';
@import 'progress-bar';


body {
  margin: 0;
  background-color: #344964;
  background-image: url('https://i.imgur.com/YEIIs82.png');
  background-size: cover;
  background-repeat: no-repeat;
}

p, h1, h2, h3, h4, h5 {
  font-family: 'Slabo 27px', serif;
}

