@import 'door.scss';
@import 'calendar.scss';
@import 'progress-bar';


body {
  margin: 0;
  background-color: #344964;
  background-image: url('https://i.imgur.com/YEIIs82.png');
  background-size: cover;
  background-repeat: no-repeat;

  a {
    text-decoration: none;
    color: white;
    margin: 10px 0 0 10px;
    display: inline-block;
    font-size: 20px;
  }
}

p, h1, h2, h3, h4, h5 {
  font-family: 'Slabo 27px', serif;
}


