@import 'door.scss';
@import 'calendar.scss';
@import 'progress-bar';

body {
  margin: 0;
}

#mount {
  margin: 0 auto;
  background-color: #344964;
  background-image: url('https://i.imgur.com/YEIIs82.png');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px 0;
  max-width: 1400px;
}

p, h1, h2, h3, h4, h5 {
  font-family: 'Slabo 27px', serif;
}

// svg styles

.yule {
  .st0{fill:#A67C52;}
  .st1{fill:#8C6239;}
  .st2{fill:#E6E6E6;}
  .st3{fill:#42210B;}
  .st4{fill:#603813;}
  .st5{fill:#4B662B;}
  .st6{fill:#7C915E;}
  .st7{fill:#9E1E28;}
  .st8{fill:#006837;}
  .st9{fill:#C1272D;}
  .st10{fill:#C49153;}
  .st11{fill:#662F2A;}
  .st12{fill:#95B7A9;}
  .st13{fill:#AFA452;}
  .st14{fill:#C5443E;}
  .st15{fill:#F0959C;}
  .st16{fill:#F2F2F2;}
  .st17{fill:#A12025;}
  .st18{fill:#064928;}
  .st19{fill:#009245;}
  .st20{fill:#821119;}
  .st21{fill:#CCCCCC;}
  .st22{fill:#E2A1BC;}
  .st23{fill:#808080;}
  .st24{fill:#E27E1A;}
  .st25{fill:#C66A17;}
  .st26{fill:#F7931E;}
  .st27{fill:#754C24;}
  .st28{fill:#FFFFFF;}
  .st29{fill:#4D4D4D;}
  .st30{fill:#FF0000;}
  .st31{fill:#DBB76F;}
  .st32{fill:#C9741F;}
  .st33{fill:#BB0043;}
  .st34{fill:#DD6652;}
  .st35{fill:#FFC693;}
  .st36{fill:#F2B288;}
  .st37{fill:#C69C6D;}
  .st38{fill:#E62E36;}
  .st39{fill:#A51717;}
  .st40{fill:#561217;}
  .st41{fill:#FBB03B;}
  .st42{fill:#FF9191;}
  .st43{fill:#BDCCD4;}
  .st44{fill:none;}
}

.bear {
  .st0{fill:#020203;}
	.st1{fill:#F3D4AA;}
	.st2{fill:#C1292E;}
	.st3{fill:#E7E6E6;}
	.st4{fill:#A81922;}
	.st5{fill:#D6A14D;}
	.st6{fill:#E580A9;}
	.st7{fill:#FFF0BA;}
	.st8{fill:#972021;}
	.st9{fill:#D06C5D;}
	.st10{fill:#36502D;}
	.st11{fill:#79986F;}
	.st12{fill:#EB5B28;}
	.st13{fill:#A67D52;}
	.st14{fill:#F2F2F2;}
	.st15{fill:#066938;}
	.st16{fill:#009245;}
	.st17{fill:#CDCCCC;}
	.st18{fill:#AE8864;}
	.st19{fill:#412413;}
	.st20{fill:#8C633A;}
	.st21{fill:#F39323;}
	.st22{fill:#F9B03D;}
	.st23{fill:#C69C6C;}
	.st24{fill:#2FBAD7;}
	.st25{fill:#DAA405;}
	.st26{fill:#808181;}
	.st27{fill:#8E3089;}
	.st28{fill:#1861A9;}
	.st29{fill:#D4175B;}
	.st30{fill:#E3D65E;}
	.st31{fill:#C7B29A;}
	.st32{fill:#603914;}
	.st33{fill:#998675;}
	.st34{fill:#746458;}
	.st35{fill:#EAA35C;}
	.st36{fill:#A3282E;}
	.st37{fill:#DC7B18;}
	.st38{fill:#B88E5C;}
	.st39{fill:#C67B3E;}
	.st40{fill:#C74A54;}
	.st41{fill:#48AE4D;}
	.st42{fill:#9A9999;}
	.st43{fill:#6F1131;}
	.st44{fill:#EFAE5D;}
	.st45{fill:#BB7E28;}
	.st46{fill:#C8904C;}
	.st47{fill:#BB7926;}
	.st48{fill:#C68448;}
	.st49{fill:#D79A5D;}
	.st50{fill:#82171C;}
	.st51{fill:#754D24;}
	.st52{fill:#EAD797;}
	.st53{fill:#B4B4B4;}
	.st54{fill:#4E4D4D;}
	.st55{fill:#014837;}
	.st56{fill:#28285B;}
	.st57{fill:#8EC045;}
	.st58{fill:#6BC4CD;}
	.st59{fill:#699CBB;}
	.st60{fill:#6D8E5F;}
}

.bell {
  .st0{fill:#366D9E;}
	.st1{fill:#534741;}
	.st2{fill:#1B1464;}
	.st3{fill:#599DC2;}
	.st4{fill:#597C8F;}
	.st5{fill:#0071BC;}
	.st6{fill:#666666;}
	.st7{fill:#86B9D4;}
	.st8{fill:#006837;}
	.st9{fill:#C1272D;}
	.st10{fill:#C49153;}
	.st11{fill:#FCC921;}
	.st12{fill:#009245;}
	.st13{fill:#808080;}
	.st14{fill:#80D8D0;}
	.st15{fill:#00A99D;}
	.st16{fill:#333333;}
	.st17{fill:#1A1A1A;}
	.st18{fill:#999999;}
	.st19{fill:#E6E6E6;}
	.st20{fill:#009F3D;}
	.st21{fill:#1360A8;}
	.st22{fill:#4D4D4D;}
	.st23{fill:#DBB76F;}
	.st24{fill:#B59255;}
	.st25{fill:#AC1E2C;}
	.st26{fill:#461E05;}
	.st27{fill:#D8A749;}
	.st28{fill:#FFFFFF;}
	.st29{fill:#E6BE8B;}
	.st30{fill:#F2F2F2;}
	.st31{fill:#084C84;}
	.st32{fill:#ED1C24;}
	.st33{fill:#736357;}
	.st34{fill:#F7931E;}
	.st35{fill:#754C24;}
	.st36{fill:#AD8049;}
	.st37{fill:#D60008;}
	.st38{fill:#9E7543;}
	.st39{fill:#C4171E;}
	.st40{fill:#123021;}
	.st41{fill:#FBB03B;}
	.st42{fill:#E00024;}
	.st43{fill:#821119;}
}