.door {
  display: inline-block;
  margin: 15px 15px; }
  .door__frame {
    background-color: #6ab592;
    position: relative;
    width: 70px;
    height: 90px;
    margin: 0 auto;
    border-radius: 0 5px 5px 0;
    box-shadow: 1px 1px 0px 0px #553925;
    padding: 10px; }
    .door__frame--active {
      box-shadow: 1px 1px 20px 9px #ffffff; }
    .door__frame__door {
      background-color: #fa7474;
      border-radius: 0 5px 5px 0;
      position: absolute;
      top: 0px;
      left: 0px;
      width: 70px;
      height: 90px;
      display: flex;
      justify-content: flex-end;
      transform-origin: left;
      transition: all 0.5s ease-in-out;
      padding: 10px; }
      .door__frame__door:hover {
        cursor: pointer; }
      .door__frame__door--open {
        transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px) rotateY(-105deg); }
      .door__frame__door__handle {
        width: 10px;
        height: 10px;
        border-radius: 25px;
        background-color: #b97d3a;
        margin: auto 3px auto auto;
        box-shadow: 1px 1px 0px 0px #2b0b0b; }
      .door__frame__door__hinge {
        width: 5px;
        background: #afafaf;
        height: 20px;
        position: absolute;
        box-shadow: 1px 1px 1px 0px #484747;
        left: -1px; }
        .door__frame__door__hinge.top {
          top: 20px; }
        .door__frame__door__hinge.bottom {
          bottom: 20px; }
      .door__frame__door__number {
        position: absolute;
        width: 100%;
        text-align: center;
        margin-left: 10px; }
        .door__frame__door__number p {
          font-size: 25px;
          color: #ffffff; }

.calendar__door-wrapper {
  max-width: 1100px;
  margin: 70px auto 180px;
  text-align: center; }

.progress-bar {
  background: #dcdfe2;
  margin: 0 0 10px; }
  .progress-bar__bar {
    margin-top: 100px;
    background: red;
    height: 20px;
    transition: width 0.5s ease-in-out; }
    .progress-bar__bar__sleigh {
      text-align: right;
      position: relative;
      top: -93px; }

body {
  margin: 0; }

#mount {
  margin: 0 auto;
  background-color: #344964;
  background-image: url("https://i.imgur.com/YEIIs82.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px 0;
  max-width: 1400px; }

p, h1, h2, h3, h4, h5 {
  font-family: 'Slabo 27px', serif; }

.yule .st0 {
  fill: #A67C52; }

.yule .st1 {
  fill: #8C6239; }

.yule .st2 {
  fill: #E6E6E6; }

.yule .st3 {
  fill: #42210B; }

.yule .st4 {
  fill: #603813; }

.yule .st5 {
  fill: #4B662B; }

.yule .st6 {
  fill: #7C915E; }

.yule .st7 {
  fill: #9E1E28; }

.yule .st8 {
  fill: #006837; }

.yule .st9 {
  fill: #C1272D; }

.yule .st10 {
  fill: #C49153; }

.yule .st11 {
  fill: #662F2A; }

.yule .st12 {
  fill: #95B7A9; }

.yule .st13 {
  fill: #AFA452; }

.yule .st14 {
  fill: #C5443E; }

.yule .st15 {
  fill: #F0959C; }

.yule .st16 {
  fill: #F2F2F2; }

.yule .st17 {
  fill: #A12025; }

.yule .st18 {
  fill: #064928; }

.yule .st19 {
  fill: #009245; }

.yule .st20 {
  fill: #821119; }

.yule .st21 {
  fill: #CCCCCC; }

.yule .st22 {
  fill: #E2A1BC; }

.yule .st23 {
  fill: #808080; }

.yule .st24 {
  fill: #E27E1A; }

.yule .st25 {
  fill: #C66A17; }

.yule .st26 {
  fill: #F7931E; }

.yule .st27 {
  fill: #754C24; }

.yule .st28 {
  fill: #FFFFFF; }

.yule .st29 {
  fill: #4D4D4D; }

.yule .st30 {
  fill: #FF0000; }

.yule .st31 {
  fill: #DBB76F; }

.yule .st32 {
  fill: #C9741F; }

.yule .st33 {
  fill: #BB0043; }

.yule .st34 {
  fill: #DD6652; }

.yule .st35 {
  fill: #FFC693; }

.yule .st36 {
  fill: #F2B288; }

.yule .st37 {
  fill: #C69C6D; }

.yule .st38 {
  fill: #E62E36; }

.yule .st39 {
  fill: #A51717; }

.yule .st40 {
  fill: #561217; }

.yule .st41 {
  fill: #FBB03B; }

.yule .st42 {
  fill: #FF9191; }

.yule .st43 {
  fill: #BDCCD4; }

.yule .st44 {
  fill: none; }

.bear .st0 {
  fill: #020203; }

.bear .st1 {
  fill: #F3D4AA; }

.bear .st2 {
  fill: #C1292E; }

.bear .st3 {
  fill: #E7E6E6; }

.bear .st4 {
  fill: #A81922; }

.bear .st5 {
  fill: #D6A14D; }

.bear .st6 {
  fill: #E580A9; }

.bear .st7 {
  fill: #FFF0BA; }

.bear .st8 {
  fill: #972021; }

.bear .st9 {
  fill: #D06C5D; }

.bear .st10 {
  fill: #36502D; }

.bear .st11 {
  fill: #79986F; }

.bear .st12 {
  fill: #EB5B28; }

.bear .st13 {
  fill: #A67D52; }

.bear .st14 {
  fill: #F2F2F2; }

.bear .st15 {
  fill: #066938; }

.bear .st16 {
  fill: #009245; }

.bear .st17 {
  fill: #CDCCCC; }

.bear .st18 {
  fill: #AE8864; }

.bear .st19 {
  fill: #412413; }

.bear .st20 {
  fill: #8C633A; }

.bear .st21 {
  fill: #F39323; }

.bear .st22 {
  fill: #F9B03D; }

.bear .st23 {
  fill: #C69C6C; }

.bear .st24 {
  fill: #2FBAD7; }

.bear .st25 {
  fill: #DAA405; }

.bear .st26 {
  fill: #808181; }

.bear .st27 {
  fill: #8E3089; }

.bear .st28 {
  fill: #1861A9; }

.bear .st29 {
  fill: #D4175B; }

.bear .st30 {
  fill: #E3D65E; }

.bear .st31 {
  fill: #C7B29A; }

.bear .st32 {
  fill: #603914; }

.bear .st33 {
  fill: #998675; }

.bear .st34 {
  fill: #746458; }

.bear .st35 {
  fill: #EAA35C; }

.bear .st36 {
  fill: #A3282E; }

.bear .st37 {
  fill: #DC7B18; }

.bear .st38 {
  fill: #B88E5C; }

.bear .st39 {
  fill: #C67B3E; }

.bear .st40 {
  fill: #C74A54; }

.bear .st41 {
  fill: #48AE4D; }

.bear .st42 {
  fill: #9A9999; }

.bear .st43 {
  fill: #6F1131; }

.bear .st44 {
  fill: #EFAE5D; }

.bear .st45 {
  fill: #BB7E28; }

.bear .st46 {
  fill: #C8904C; }

.bear .st47 {
  fill: #BB7926; }

.bear .st48 {
  fill: #C68448; }

.bear .st49 {
  fill: #D79A5D; }

.bear .st50 {
  fill: #82171C; }

.bear .st51 {
  fill: #754D24; }

.bear .st52 {
  fill: #EAD797; }

.bear .st53 {
  fill: #B4B4B4; }

.bear .st54 {
  fill: #4E4D4D; }

.bear .st55 {
  fill: #014837; }

.bear .st56 {
  fill: #28285B; }

.bear .st57 {
  fill: #8EC045; }

.bear .st58 {
  fill: #6BC4CD; }

.bear .st59 {
  fill: #699CBB; }

.bear .st60 {
  fill: #6D8E5F; }

.bell .st0 {
  fill: #366D9E; }

.bell .st1 {
  fill: #534741; }

.bell .st2 {
  fill: #1B1464; }

.bell .st3 {
  fill: #599DC2; }

.bell .st4 {
  fill: #597C8F; }

.bell .st5 {
  fill: #0071BC; }

.bell .st6 {
  fill: #666666; }

.bell .st7 {
  fill: #86B9D4; }

.bell .st8 {
  fill: #006837; }

.bell .st9 {
  fill: #C1272D; }

.bell .st10 {
  fill: #C49153; }

.bell .st11 {
  fill: #FCC921; }

.bell .st12 {
  fill: #009245; }

.bell .st13 {
  fill: #808080; }

.bell .st14 {
  fill: #80D8D0; }

.bell .st15 {
  fill: #00A99D; }

.bell .st16 {
  fill: #333333; }

.bell .st17 {
  fill: #1A1A1A; }

.bell .st18 {
  fill: #999999; }

.bell .st19 {
  fill: #E6E6E6; }

.bell .st20 {
  fill: #009F3D; }

.bell .st21 {
  fill: #1360A8; }

.bell .st22 {
  fill: #4D4D4D; }

.bell .st23 {
  fill: #DBB76F; }

.bell .st24 {
  fill: #B59255; }

.bell .st25 {
  fill: #AC1E2C; }

.bell .st26 {
  fill: #461E05; }

.bell .st27 {
  fill: #D8A749; }

.bell .st28 {
  fill: #FFFFFF; }

.bell .st29 {
  fill: #E6BE8B; }

.bell .st30 {
  fill: #F2F2F2; }

.bell .st31 {
  fill: #084C84; }

.bell .st32 {
  fill: #ED1C24; }

.bell .st33 {
  fill: #736357; }

.bell .st34 {
  fill: #F7931E; }

.bell .st35 {
  fill: #754C24; }

.bell .st36 {
  fill: #AD8049; }

.bell .st37 {
  fill: #D60008; }

.bell .st38 {
  fill: #9E7543; }

.bell .st39 {
  fill: #C4171E; }

.bell .st40 {
  fill: #123021; }

.bell .st41 {
  fill: #FBB03B; }

.bell .st42 {
  fill: #E00024; }

.bell .st43 {
  fill: #821119; }
