.door {
  display: inline-block;
  margin: 30px; }
  .door__frame {
    background-color: #5f5f5f;
    position: relative;
    width: 100px;
    height: 120px;
    margin: 0 auto;
    border-radius: 0 5px 5px 0;
    box-shadow: 1px 1px 0px 0px #553925; }
    .door__frame--active:hover {
      box-shadow: 1px 1px 20px 4px #58c62d; }
    .door__frame__door {
      background-color: #87b5c7;
      border-radius: 0 5px 5px 0;
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100px;
      height: 120px;
      display: flex;
      justify-content: flex-end;
      transform-origin: left;
      transition: all 0.5s ease-in-out; }
      .door__frame__door:hover {
        cursor: pointer; }
      .door__frame__door--open {
        transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px) rotateY(-105deg); }
      .door__frame__door__handle {
        width: 10px;
        height: 10px;
        border-radius: 25px;
        background-color: #b97d3a;
        margin: auto 7px auto auto;
        box-shadow: 1px 1px 0px 0px #2b0b0b; }
      .door__frame__door__hinge {
        width: 5px;
        background: #afafaf;
        height: 20px;
        position: absolute;
        box-shadow: 1px 1px 1px 0px #484747;
        left: -1px; }
        .door__frame__door__hinge.top {
          top: 20px; }
        .door__frame__door__hinge.bottom {
          bottom: 20px; }
      .door__frame__door__number {
        position: absolute;
        width: 100%;
        text-align: center; }
        .door__frame__door__number p {
          font-size: 30px;
          color: #c31f12; }

.calendar__title {
  text-align: center;
  margin-top: 60px; }

.calendar__door-wrapper {
  max-width: 1200px;
  margin: auto;
  text-align: center; }

.progress-bar {
  background: rgba(249, 249, 249, 0.57);
  margin: 0 0 50px; }
  .progress-bar__bar {
    background: red;
    height: 20px;
    transition: width 0.5s ease-in-out; }

body {
  margin: 0;
  background: #b1e8ff; }

p, h1, h2, h3, h4, h5 {
  font-family: 'Slabo 27px', serif; }
